<div id="new-desc">
	<link rel="stylesheet" type="text/css" href="https://drive.google.com/uc?export=view&id=1AbzDkDuQLjJTdTNwJQObAW5iirGCwldU"/>
	<div id="crs-main-header">
	</div>
	<div id="crs-body">
		<div id="item-header">
			<table class="no-border">
				<caption><h5>{ItemTitle}</h5></caption>
			</table>
		</div>
		<div id="item-desc">
			<table class="no-border">
				<tr class="no-border">
					<td class="no-border"><p>{ItemLongDescP1}</p></td>
				</tr>
				<tr class="no-border">
					<td class="no-border"><p>{ItemLongDescP2}</p></td>
				</tr>
			</table>
			<table>
				<caption>Basic Specifications</caption>
				<tr>
					<td>Processor</td>
					<td>{BasicCPU}</td>
				</tr>
				<tr>
					<td>RAM</td>
					<td>{BasicRAM}</td>
				</tr>
				<tr>
					<td>Hard Drive</td>
					<td>{BasicHDD}</td>
				</tr>
				<tr>
					<td>Operating System</td>
					<td>{BasicOS}</td>
				</tr>
			</table>
			<table>
				<caption>Detailed Specifications</caption>
				<tr>
					<td>CPU Type</td>
					<td>{CPUType}</td>
				</tr>
				<tr>
					<td>CPU Speed</td>
					<td>{CPUSpeed}</td>
				</tr>
				<tr>
					<td>CPU Cores</td>
					<td>{CPUCores}</td>
				</tr>
				<tr>
					<td>CPU Threads</td>
					<td>{CPUThreads}</td>
				</tr>
				<tr>
					<td>Memory Size</td>
					<td>{RAMCapacity}</td>
				</tr>
				<tr>
					<td>Memory Type</td>
					<td>{RAMType}</td>
				</tr>
				<tr>
					<td>Hard Drive Quantity</td>
					<td>{HDDQuantity}</td>
				</tr>
				<tr>
					<td>Hard Drive Size</td>
					<td>{HDDSize}</td>
				</tr>
				<tr>
					<td>Hard Drive Interface</td>
					<td>{HDDInterface}</td>
				</tr>
				<tr>
					<td>Rotational Speed</td>
					<td>{HDDSpeed}</td>
				</tr>
				<tr>
					<td>Video/Graphics Card</td>
					<td>{GFX}</td>
				</tr>
				<tr>
					<td>Screen Size</td>
					<td>{ScreenSize}</td>
				</tr>
				<tr>
					<td>Resolution</td>
					<td>{ScreenRes}</td>
				</tr>
				<tr>
					<td>Screen Type</td>
					<td>{ScreenType}</td>
				</tr>
				<tr>
					<td>Battery</td>
					<td>{Battery}</td>
				</tr>
				<tr>
					<td>Operating System Installed</td>
					<td>{OSVersion}</td>
				</tr>
				<tr>
					<td>Webcam</td>
					<td>{Webcam}</td>
				</tr>
				<tr>
					<td>Other Drives</td>
					<td>{OtherDrives}</td>
				</tr>
				<tr>
					<td>Network Interfaces</td>
					<td>{Nics}</td>
				</tr>
			</table>
			<table class="no-border">
				<caption>Terms</caption>
				<tr class="no-border">
					<td class="no-border"><p>{TermsP1}</p></td>
				</tr>
				<tr class="no-border">
					<td class="no-border"><p>{TermsP2}</p></td>
				</tr>
			</table>
		</div>
	</div>
</div>